.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100px;
  max-height: 400px;
  background-color: white;
  margin: 10px;
  padding: 20px;
  align-items: center;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.product__details {
  height: 100px;
  margin-bottom: 15px;
  text-align: center;
}
.product__price {
  margin-top: 5px;
}
.product__rating {
  display: flex;
}
.product > img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734, #9c7e31, #846a29;
  height: 40px;
  width: 100px;
  border-radius: 3px;
  border: 2px solid black;
}
